<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POSCelulares</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column p-3">
        <a class="navbar-brand mb-3" asp-area="" asp-controller="Home" asp-action="Index">POSCelulares</a>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
            </li>
        </ul>
        <hr />
        <a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>

    <!-- Content -->
    <div class="content d-flex flex-column">
        <main role="main" class="flex-grow-1">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted mt-3">
            <div class="container">
                &copy; 2025 - POSCelulares - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
